footer{
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: 5px 2px 0px 0px rgba(0, 0, 0, 0.1);
    color: black;
    z-index: 3;
    background-color:#f5f5f5;
}